@{
    ViewBag.Title = "AfterLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>After Login</h2>
@if (Session["KullanıcıAdı"] != null)
{
    <text>
        Merhaba @Session["KullanıcıAdı"].ToString() 
    </text>
}*@

    